<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>易买网 - 首页</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function.js"></script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo"><img src="../images/logo.gif" /></div>
	<div class="help"><a href="#" class="shopping">购物车</a><a href="/user/login">登录</a><a href="/user/register">注册</a><a href="/guestbook/add">留言</a></div>
	<div class="navbar">
		<ul class="clearfix">
			<li class="current"><a href="/index">首页</a></li>
			<% for(var i = 0; i < categories.length; i++){
			if(categories[i].parentId == 0){ %>
			<li><a href="#"><%= categories[i].cname %></a></li>
			<% } %>
			<% } %>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="wrap">
		<ul class="clearfix">
			<% for(var i = 0; i < categories.length; i++){
			if(categories[i].parentId == 0){ %>
			<% for(var j = 0;j < 18;j++) {
			if(categories[j].parentId == categories[i].cid) { %>
			<li class="first"><a href="#"><%= categories[j].cname %></a></li>
			<% } %>
			<% } %>
			<% } %>
			<% } %>
			<li class="last"><a href="#">Investor Relations</a></li>
		</ul>
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="/index">易买网</a> &gt; <a href="product-list.html">图书音像</a> &gt; 图书
</div>
<div id="main" class="wrap">
	<div class="lefter">
		<div class="box">
			<h2>商品分类</h2>
			<dl>
				<% for(var i = 0; i < categories.length; i++){
				if(categories[i].parentId == 0){ %>
				<dt><%= categories[i].cname %></dt>
				<% for(var j = 0;j < categories.length;j++) {
				if(categories[j].parentId == categories[i].cid) { %>
				<dd><a href="product_list.ejs"><%= categories[j].cname %></a></dd>
				<% } %>
				<% } %>
				<% } %>
				<% } %>
			</dl>
		</div>
		<div class="spacer"></div>
		<div class="last-view">
			<h2>最近浏览</h2>
			<dl class="clearfix">
				<dt><img src="../images/product/0_tiny.gif" /></dt>
				<dd><a href="/list/view">法国德菲丝松露精品巧克力500g/盒</a></dd>
				<dt><img src="../images/product/0_tiny.gif" /></dt>
				<dd><a href="/list/view">法国德菲丝松露精品巧克力500g/盒</a></dd>
			</dl>
			<script type="text/javascript">
				document.write("Cookie中记录的购物车商品ID："+ getCookie("product") + "，可以在动态页面中进行读取");
			</script>
		</div>
	</div>
	<div class="main">
		<div class="product-list">
			<h2>全部商品</h2>
			<div class="pager">
				<ul class="clearfix">
					<li><a href="#">上一页</a></li>
					<li class="current">1</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
				</ul>
			</div>
			<div class="clear"></div>
			<ul class="product clearfix">
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/1.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">法国德菲丝松露精品巧克力500g/盒</a></dd>
						<dd class="price">￥108.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/2.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">乐扣普通型保鲜盒圣诞7件套</a></dd>
						<dd class="price">￥69.90</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/3.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">欧珀莱均衡保湿四件套</a></dd>
						<dd class="price">￥279.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/4.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">联想笔记本电脑 高速独立显存</a></dd>
						<dd class="price">￥4199</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/5.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">法姿韩版显瘦彩边时尚牛仔铅笔裤</a></dd>
						<dd class="price">￥49.00</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/6.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">Genius925纯银施华洛世奇水晶吊坠</a></dd>
						<dd class="price">￥69.90</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/7.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">利仁2018M福满堂电饼铛 好用实惠</a></dd>
						<dd class="price">￥268.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/8.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">达派高档拉杆箱20寸 经典款式</a></dd>
						<dd class="price">￥198.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/9.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">爱国者MP4 全屏触摸多格式播放 4G</a></dd>
						<dd class="price">￥289.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/10.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">多美滋金装金盾3阶段幼儿配方奶粉</a></dd>
						<dd class="price">￥186.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/1.jpg" /></a></dt>
						<dd class="title"><a href="product-view.html" target="_blank">法国德菲丝松露精品巧克力500g/盒</a></dd>
						<dd class="price">￥108.0</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="/list/view" target="_blank"><img src="../images/product/2.jpg" /></a></dt>
						<dd class="title"><a href="/list/view" target="_blank">乐扣普通型保鲜盒圣诞7件套</a></dd>
						<dd class="price">￥69.90</dd>
					</dl>
				</li>
			</ul>
			<div class="clear"></div>
			<div class="pager">
				<ul class="clearfix">
					<li><a href="#">上一页</a></li>
					<li class="current">1</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2019 传习教育 All Rights Reserved. 京ICP证1000001号
</div>
</body>
</html>
