<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>易买网 - 首页</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function.js"></script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo"><img src="../images/logo.gif" /></div>
	<div class="help"><a href="#" class="shopping">购物车</a><a href="/user/login">登录</a><a href="/user/register">注册</a><a href="/guestbook/add">留言</a></div>
	<div class="navbar">
		<ul class="clearfix">
			<li class="current"><a href="/index">首页</a></li>
			<% for(var i = 0; i < categories.length; i++){
			if(categories[i].parentId == 0){ %>
			<li><a href="#"><%= categories[i].cname %></a></li>
			<% } %>
			<% } %>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="wrap">
		<ul class="clearfix">
			<% for(var i = 0; i < categories.length; i++){
			if(categories[i].parentId == 0){ %>
			<% for(var j = 0;j < 18;j++) {
			if(categories[j].parentId == categories[i].cid) { %>
			<li class="first"><a href="#"><%= categories[j].cname %></a></li>
			<% } %>
			<% } %>
			<% } %>
			<% } %>
			<li class="last"><a href="#">Investor Relations</a></li>
		</ul>
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="/index">易买网</a> &gt; <a href="product_list.ejs">图书音像</a> &gt; 图书
</div>
<div id="main" class="wrap">
	<div class="lefter">
		<div class="box">
			<h2>商品分类</h2>
			<dl>
				<% for(var i = 0; i < categories.length; i++){
				if(categories[i].parentId == 0){ %>
				<dt><%= categories[i].cname %></dt>
				<% for(var j = 0;j < categories.length;j++) {
				if(categories[j].parentId == categories[i].cid) { %>
				<dd><a href="product_list.ejs"><%= categories[j].cname %></a></dd>
				<% } %>
				<% } %>
				<% } %>
				<% } %>
			</dl>
		</div>
	</div>
	<div id="product" class="main">
		<h1>铁三角 Audio-Technica ATH-EQ300M-SV 银色 挂耳式耳机</h1>
		<div class="infos">
			<div class="thumb"><img src="../images/product/0.jpg" /></div>
			<div class="buy">
				<p>商城价：<span class="price">￥99.00</span></p>
				<p>库　存：有货</p>
				<p>库　存：有货</p>
				<p>库　存：有货</p>
				<p>库　存：有货</p>
				<div class="button"><input type="button" name="button" value="" onclick="goBuy(1)" /><a href="#">放入购物车</a></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="introduce">
			<h2><strong>商品详情</strong></h2>
			<div class="text">
				sdf<br />
				sdf<br />
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2019 传习教育 All Rights Reserved. 京ICP证1000001号
</div>
</body>
</html>